name: Release
on:
  push:
    tags: ['v*']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: { distribution: temurin, java-version: 17 }
      - run: chmod +x gradlew && ./gradlew :aa-display:assembleRelease
        env: { KEY_ANDROID: ${{ secrets.KEY_ANDROID }} }
      - uses: softprops/action-gh-release@v2
        with:
          files: aa-display/build/outputs/apk/release/*.apk
