name: Release V2
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Decode keystore
        run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > key.jks
      - name: Build release APK
        run: chmod +x gradlew && ./gradlew :aa-display:assembleRelease --no-daemon
        env:
          KEY_ANDROID: ${{ secrets.KEY_ANDROID }}
          GRADLE_OPTS: -Xmx2048m -XX:MaxMetaspaceSize=512m
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: aa-display/build/outputs/apk/release/*.apk
